body {
  background-image:url(tab.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 111%;
}

h1, p {
  font-family: courier;
  color: gray;
}

.overlapable{
  z-index: 1;
}
